.forgotPwd {
  cursor: pointer;
}

.btnStartExploring {
  margin-top: 40px;
  width: 239px!important;
  height: 37px!important;
  font-size: 12px!important;
  font-weight: 700!important;
  border-radius: 5px!important;
}