.dashContainer {
  max-width: 892px;
}

.inputSearchBox {
  border-radius: 20px!important;
  height: 70px!important;
  font-weight: bold!important;
  font-size: 27px!important;
  background: #2e2f38!important;
  border-color: #2e2f38!important;
  /* padding-left: 60px!important; */
}

.inputSearchElement {
  height: 70px!important;
  padding-left: 23px!important;
}

.inputSearchIcon {
  width: 24px!important;
  height: 24px!important;
}

.eventCardTitle {
  font-weight: bold!important;
  font-size: 20px!important;
}

.eventCardTitleWrapper {
  display: flex;
}

.eventCardIcon {
  width: 30px!important;
  height: 30px!important;
  margin-right: 12px;
}

.eventCardContainer {
  width: 270px;
  height: 144px;
  padding: 24px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('../../public/images/event-card-bk.png');
}

.eventCardContent {
  font-size: 14px;
  line-height: 140%;
}

.eventCardsWrapper {
  display: flex;
  flex-wrap: wrap;
}