.sidebar {
  position: fixed;
  height: 100%;
  border-right: 1px solid #E2E8F0;
  padding: 20px;
  width: 250px;
}

.title {
  color: "#868899";
  font-weight: 700; 
  font-size: 12px;
  line-height: 15px;
}

.text {
  font-weight: 400; 
  font-size: 14px;
  line-height: 15px;
}

.button {
  align-self: flex-start;
}
