.container {
  border-bottom: 1px solid #e2e8f0;
  position: sticky;
  z-index: 1;
}

.navIcon {
  width: 24px!important;
  height: 24px!important;
  margin-right: 18px;
  cursor: pointer;
}

.navLogo {
  width: 151px;
  height: 34px;
  display: inline;
}

.notifyIcon {
  width: 28px!important;
  height: 28px!important;
  margin-right: 18px;
  cursor: pointer;
}

.navIconContainer{
  display: flex;
  align-items: center;
}

.navMenuBtn {
  width: 44px!important;
  padding: 0!important;
  background-color: transparent!important;
}

.navMenuBtn:hover {
  background: transparent!important;
}

.userAvatar {
  height: 40px!important;
  width: 40px!important;
}
.hasNewNotifications {
  width: 13px;
  height: 13px;
  background: #D25252;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 18px;
}
.notifyIconWrapper{
  position: relative;
  cursor: pointer;
}